@import "tailwindcss";

:root {
  --background: #0a0b26;
  --foreground: #d7e1ff;
  --subtle-blue: #b6c8ff;
  --deep-blue: #6a8df7;
  --code-board-outline: #3b4569;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-subtle-blue: var(--subtle-blue);
  --color-deep-blue: var(--deep-blue);
  --color-code-board-outline: var(--code-board-outline);
  --color-app-bar-button: #31437b;
  --background-image-window-gradient: radial-gradient(
    circle at left top,
    #1c2a50 0%,
    #121d3a 100%
  );
  --background-image-window-topBar-gradient: linear-gradient(
    90deg,
    #31437b 0%,
    #405fbf 100%
  );
  --background-image-text-gradient: linear-gradient(
    45deg,
    #aac2ff 21%,
    #5063ae 100%
  );
  --background-image-border-gradient: linear-gradient(
    180deg,
    #697abb 0%,
    #31437b 100%
  );
  --background-image-code-board-gradient: radial-gradient(
    circle at left top,
    #243460 0%,
    #121d3a 100%
  );
  --background-image-code-board-fading-gradient: radial-gradient(
    circle at left top,
    #243460 0%,
    transparent 100%
  );
  --background-image-code-board-fading-outline-gradient: radial-gradient(
    circle at left top,
    #3b4569 0%,
    transparent 100%
  );
  --background-image-about-me-divider-gradient-vertical: linear-gradient(
    0deg,
    transparent 0%,
    #6a8df7 50%,
    transparent 100%
  );
  --background-image-about-me-divider-gradient-horizontal: linear-gradient(
    90deg,
    transparent 0%,
    #6a8df7 50%,
    transparent 100%
  );

  --font-sans: var(--font-albert-sans);
  --font-mono: var(--font-albert-sans);
  --animate-fade-in: fade-in 0.5s ease forwards;
  --animate-fade-in-from-bottom: fade-in-from-bottom 1s ease forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      scale: 0.85;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes fade-in-from-bottom {
    from {
      opacity: 0;
      transform: translate(0rem, 2rem);
    }
    to {
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0b26;
    --foreground: #d7e1ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
